body {
    padding: 50px 0;
}

.container {
    background-image: url('./assets/ground.png');
    background-repeat: repeat;
}

#armyContainer {
    margin: 35px 0;
}
.header {
    color: white;
    text-shadow: 2px 2px black;
}
.robots{
    color: black;
    text-shadow: 1px 1px white;
}
.unit {
    font-size: 12px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    height: 225px;
    width: 110px;
    display: block;
    margin-right: 10px;
    margin-bottom: 13px;
    background: white;
}
.unitImage {
    height: 60px;
    vertical-align: bottom;
}
.unitName {
    margin: 5px 0 10px 0;
    font-weight: bold;
}
.counts {
    text-align: center;
    font-size: 14px;
    width: 110px;
}
.unitKills {
    text-align: center;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
}
.killedBy {
    color: white;
    background: black;
    font-weight: normal;
    border-radius: 5px;
    border: 1px solid white;
}
.healthicon {
    vertical-align: bottom;
    margin-right: 10px;
}
.icon {
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 10px;
}
#fightButton {
    margin-top: 35px;
    cursor: pointer;
    border: 1px solid black;
}

#logger {
    font-size: 12px;
    font-weight: normal;
    display: block;
    padding: 15px 30px;
    position: relative;
    left: 50%;
    transform: translateX(-52%);
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 482px;
}
.badLog {
    color: black;
}
.endLog {
    color: #5bc0de;
    margin-top: 15px;
    text-align: center;
}
#hitch {
    position: fixed;
    bottom: 25px;
    right: 25px;
}